body {
    background-color: #0f0f0f;
}

.left-panel {
    width: 20%;
    background-color: #252526;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.content {
    margin-left: 20%x;
    padding: 20px;
}


.userButton {
  background-color: #3e3e42;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-right: 10px;
}

.userButton:hover {
  background-color: #007acc;
}

.userButton:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
    .userButton {
        padding: .75rem 1.5rem;
    }
}

.panelContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  justify-content: center;
  align-items: center;
  margin-left: 10px
}