body {
  background-color: #323232;
}

th,
td {
  padding: 5px;
  border: 2px solid white;
}

table,
th,
td {
  color: white;
}

.table_div {
  display: flex;
  justify-content: center;
}

.main {
  margin-left: 25%;
  padding: 1px 16px;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #3e3e3e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04aa6d;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#terminal {
  position: fixed;
  margin-bottom: 20px;
  width: 73%;
  bottom: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
